<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml>
<head>
    <meta charset="utf-8" />
    <title>MathJax LaTeX</title>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
    $${{ LaTeX_script }}$$
    <br />
    <p>
        資料將在機器人休眠後銷毀。若有需要，請截圖保存計算結果。機器人休眠條件請參見機器人說明。
    </p>
</body>
</html>